:root{
  --background-1-color: linear-gradient(#323238,#3c2041 );
  --background-nonlinear-1-color: #323238;
  --background-nonlinear-color: #3c2041;
}
body{
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
  will-change: transform, opacity;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  100%{
    top: 15%;
  }
}

.blog{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--background-nonlinear-color);
  padding: 0;
  margin: 0;
}

/* .float-icon{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.icon-img-2{
  position: absolute;
  filter: invert(1);
  z-index: -1;
  width: 3rem;
  height: 3rem;
} */
.back-to-top{
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  
}
.back-to-top img{
  width: 100%;
  height: 100%;
  animation: bounce 0.3s infinite ease-in-out;
}