:root{
  --background-1-color: linear-gradient(#323238,#3c2041 );
  --background-nonlinear-1-color: #323238;
  --background-nonlinear-color: #3c2041;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  100%{
    top: 15%;
  }
}


.back-to-top{
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  transition: 0.2s ease-in-out;
}
.back-to-top:hover{
  transform: scale(0.8);
}

.back-to-top img{
  width: 100%;
  height: 100%;
  animation: bounce 0.3s infinite ease-in-out;
}
.icon-img-2{
  position: absolute;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  filter: invert(1);
}
.week:nth-last-of-type(odd){
  background-color: #ddd;
}
.week:nth-last-of-type(even){
  background-color: #fff;
}

.line{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;;
  height: 100%;
  width: 10rem;
}
.week{
  height: calc(100%/6);
  width: 100%;
}
.cal{
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
}
.month{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: red;
  width: 100%;
  height: calc(100%/6);
  text-align: center;
  
}